[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
webdriver-manager = "*"
beautifulsoup4 = "*"
selenium = "*"
youtube-dl = "*"
cairosvg = "*"

[dev-packages]

[requires]
python_version = "3.10"
