[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
webdriver-manager = "*"
selenium = "*"
pillow = "*"
youtube-dl = "*"
slack-log-handler = "*"
tweepy = "*"

[dev-packages]
flake8 = "*"
injector = "*"
pytest = "*"

[requires]
python_version = "3.9"
