[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
webdriver-manager = "*"
selenium = "*"
pillow = "*"
youtube-dl = "*"
slack-log-handler = "*"
tweepy = "*"
openpyxl = "*"
chromedriver-binary = "==93.*"
retry = "*"
google-api-python-client = "*"
google-auth = "*"
youtube-transcript-api = "*"
ffmpeg-python = "*"
pyautogui = "*"
pyperclip = "*"
tqdm = "*"
atomicwrites = "*"
fastapi = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
injector = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
flake8 = "flake8 --max-line-length 150"
